/* send jobs page */

#sendjobs #sendjobs-container {
	margin-top: 100px;
	/* background: none; */
	background:  url("/assets/img/imagem-findjob.jpg") no-repeat fixed center;
	background-color: none;
	background-size: auto;
	min-width: 100%;
	padding: 5em 0;
}

#sendjobs h1 {
	font-size: 36px;
	margin-bottom: 50px;
	text-align: center;
}

.input-box {
	margin-bottom: 2em;
	width: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#sendjobs label {
	text-transform: uppercase;
	color: #666;
	font-weight: bold;
	display: block;
	margin-bottom: 1em;
}

#sendjobs input {
	border-radius: 5px;
	border: solid 1px #CCC;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}

#sendjobs textarea, #sendjobs select {
	border: 1px solid #CCC;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}

#sendjobs input[type=submit] {
	width: 200px;
	float: right;
}

.input-box:after {
	clear: both;
	content: "";
	display: block;
}
